@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Public+Sans:wght@300;400;500;600;700&family=Work+Sans&display=swap");
/* All Elements */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
/* Navigation Bar  */
.nav-wrap {
  display: flex;
  justify-content: space-around;
  background-color: #d5d2d2;
  padding: 15px;
}
.n-logo {
  display: flex;
  align-items: center;
  gap: 10px;
}
.n-logo span {
  color: #00ffff;
  font-weight: bold;
}
.n-logo img {
  transform: scale(1.15);
}
.n-menu {
  list-style: none;
  display: flex;
  gap: 30px;
  align-items: center;
  font-size: 18px;
}

/* Banner Section  */
.banner-wrap {
  background-image: linear-gradient(#00000063, #87212163),
    url(./asset/image/background.jpg);
  background-repeat: no-repeat;
  background-size: 120%;
  background-position: center;
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.banner-wrap h1 {
  color: #ffffff;
  font-size: 80px;
  text-align: center;
}
.banner-wrap h1 span {
  color: #f52c2c;
}
.banner-wrap p {
  font-size: 19px;
  color: #fff;
  text-align: center;
  margin-bottom: 30px;
}
.b-btn {
  display: flex;
  gap: 20px;
}
.b-btn button {
  padding: 10px 25px;
  text-transform: uppercase;
  font-size: 18px;
  color: #fff;
  background-color: #f52c2c;
  border: none;
  outline: none;
}
.b-btn button:nth-child(2) {
  background-color: #fff;
  color: #000;
}
/* Service List  */
.service-wrap {
  background-color: #111111;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-image: linear-gradient(#000000cc, #000000cc),
    url(./asset/image/footer-bg.png);
  background-size: 100%;
  background-position: center;
  color: #fff;
  padding: 25px 0 200px 0;
  margin-bottom: 140px;
  position: relative;
}
.s-left {
  width: 50%;
  padding-left: 20px;
}
.s-left button {
  padding: 10px 25px;
  border-radius: 30px;
  background-color: #ffffff;
  color: #a18080;
  font-size: 17px;
  border: none;
}
.s-title {
  font-size: 35px;
  margin-top: 15px;
  margin-bottom: 15px;
}
.s-title span {
  color: #f52c2c;
}
.s-des {
  font-size: 16px;
  width: 80%;
  margin-bottom: 30px;
}
.s-left ol li {
  list-style: decimal;
  margin-left: 40px;
}
.s-left ol {
  margin-bottom: 30px;
}
.s-pro {
  display: flex;
  gap: 10px;
  align-items: center;
}
.s-img {
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 10px;
}
.s-img img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.s-deg {
  font-size: 14px;
  padding: 30px 0;
  padding-right: 100px;
  border-right: 1px solid #f52c2c;
}
.s-pro button {
  height: 50%;
  color: #f52c2c;
  cursor: pointer;
}
.s-right {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}
.s-right .card {
  width: 46%;
  height: 310px;
  background-color: #fff;
  color: #000;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  flex-direction: column;
}
.s-right .card img {
  width: 110px;
}
.s-right .card p {
  font-size: 20px;
  font-weight: 700;
}
/* Contact Section  */
.contact-wrap {
  width: 80%;
  background-color: #f52c2c;
  border-radius: 20px;
  padding: 40px 20px;
  display: flex;
  align-items: center;
  color: #fff;
  position: absolute;
  top: 90%;
  left: 10%;
}
.c-left {
  padding: 10px;
  border-right: 2px solid #808080;
  display: flex;
  gap: 20px;
  align-items: center;
  min-width: 30%;
}
.c-left img {
  width: 100px;
}
.c-nmbr > p:nth-child(1) {
  font-size: 12px;
}
.c-nmbr > p:nth-child(2) {
  font-size: 20px;
}
.c-right {
  padding: 0 20px;
  display: flex;
  gap: 25px;
}
.c-right button {
  border: 0;
  padding: 0px 55px;
  border-radius: 30px;
  font-size: 16px;
  line-height: 18px;
}
/* Blog Section  */
.blog-wrap {
  background-color: #fff;
  padding: 20px 0;
  color: #000;
}
.blog-wrap h2 {
  font-size: 45px;
  text-align: center;
}
.blog-wrap h2 span {
  color: #f52c2c;
}
.blog-wrap > p {
  text-align: center;
  margin: 0 auto;
  margin-bottom: 60px;
  width: 55%;
  font-size: 20px;
}
.b-cards {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
}
.card {
  width: 26%;
  border-radius: 10px;
  box-shadow: 4px 4px 8px gray;
}
.card img {
  width: 100%;
  border-radius: 10px 10px 0 0;
}
.b-cards h3 {
  padding: 20px;
  font-size: 21px;
}
.b-cards p {
  padding: 0 20px 22px 20px;
  line-height: 20px;
}
